.neofi__button {
  height: 2.5rem;
  background: linear-gradient(94.37deg, #3387d5 -5.94%, #7a06c9 115.34%);
  border-radius: 30px;
  color: #ffffff;
  text-shadow: 0.364154px 0.364154px 0.364154px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}
